
/*  color theme?
#011A27 - dark navy
#063852 - blueberry
#f0810f - tangerine
#e6df44 - daffodil
*/

#addTasklbl {
    -fx-text-fill: #011A27;
    -fx-font-size: 16px;
}

.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #063852;
    -fx-text-fill: white;
}
